# Environment variables that are used in the docker-compose.yml AND spring boot configuration
POSTGRES_HOST=host
POSTGRES_PORT=port
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=database

SECRET_KEY=secret_key